doctype transitional
html
	head
	block head
		link(rel="stylesheet",type="text/css",href="/enjp_stylesheet.css")
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		script(src="http://code.jquery.com/jquery-1.10.2.min.js")
		title
			| Haughty or Naughty Magnetic Poetry Game