extends base

append head
	script(src="/compose_page.js")

	- cardTitle = (lang == 'en') ? 'olioetry' : "ごった煮冊";
	meta(name="twitter:card",content="photo")
	meta(name="twitter:image:src",content="http://olioetry.jit.su/images/make-#{lang}.png")
	meta(name="twitter:title",content=cardTitle)
	meta(name="twitter:creator",content="@BooDooPERSON")

block content
	#prettyTitleBox

	#wordTitlebox.titlebox.wordTitlebox(class=lang)
		#thematicWords
			#listHeader
				input#filterBox(type="search",results="0")
				.toggleButton
					span
						| EN
					span
						| 日本
			.wordList

	#composeModal(class=lang)
		.contentBox
			.contentOptions
			.content
				h1#composeTitle.select-title
					span#poemTitle.untitled(contenteditable="true")
						if lang == 'en'
							| untitled
						else
							| 無題
				h3#composeAuthor
					| by&nbsp;
					span#authorName.anonymous(contenteditable="true")
						if lang == 'en'
							| anonymous
						else
							| アノニマス

					span#authorEditHint &nbsp;(edit)

		.contentBox
			.contentOptions
			.content
				#composerDragDrop
					table.composerTable
						tr.composerLine
							td.composerLineNumber 1.
							td.composerLineContent
						tr.composerLine
							td.composerLineNumber 2.
							td.composerLineContent
						tr.composerLine
							td.composerLineNumber 3.
							td.composerLineContent
						tr.composerLine
							td.composerLineNumber 4.
							td.composerLineContent
						tr.composerLine
							td.composerLineNumber 5.
							td.composerLineContent

		.contentBox
			.contentOptions
			.content
				.toggleButton
					span
						| EN
					span
						| 日本
				#saveButton.disabled
					if lang == 'en'
						| SAVE
					else
						| 保存
				#clearButton
					if lang == 'en'
						| CLEAR
					else
						| 消去
				#savedMessage.hidden Saved.
