extends base

block header

block content
	#titleBox
		span.en OLIOETRY
		span.jp ごった煮冊

	#landingBox
		#landingButtonBox
			#landingComposeButton
				a(href="/en/compose")
					span.composeLink.en MAKE
				a(href="/jp/compose")
					span.composeLink.jp 作る
			#landingReadButton
				a(href="/en")
					span.readLink.en READ
				a(href="/jp")
					span.readLink.jp 読む