extends base

append head
	- cardTitle = (lang == 'en') ? 'olioetry' : "ごった煮冊";
	meta(name="twitter:card",content="photo")
	meta(name="twitter:image:src",content="http://olioetry.boodoo.co/images/landing.png")
	meta(name="twitter:title",content=cardTitle)
	meta(name="twitter:creator",content="@BooDooPERSON")

block header

block content
	#titleBox
		span.en OLIOETRY
		span.jp ごった煮冊

	#landingBox
		#landingButtonBox
			#landingComposeButton
				a(href="/en/compose")
					span.composeLink.en MAKE
				a(href="/jp/compose")
					span.composeLink.jp 詠む
			#landingReadButton
				a(href="/en")
					span.readLink.en READ
				a(href="/jp")
					span.readLink.jp 読む
