@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body{
	line-height: 1;
	background-color:#FAFAFA;
	padding-top:42px;
}
/*-----------------------------------------------basic styling------------------------------------------------*/

h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	color:black;
	font-size:22px;
}
h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:black;
	font-size:14px;
	line-height:22px;
}
h4{
	font-family:"Courier New", Courier, monospace;
	color:black;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	line-height:30px;
	float:left;
	margin-left:15px;
}

p{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:black;
	font-size:14px;
	line-height:20px;
}


/*----------------------------------------------header styling------------------------------------------------*/

#header{
	padding-left:25px;
	position:fixed;
	top:0px;
	height:40px;
	width:100%;
	background-color:#EFEFEF;
	margin-bottom:2px;
	z-index:1;
}

#header a{
	font-family:"Courier New", Courier, monospace;
	color:#979DAA;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	line-height:40px;
	letter-spacing:2px;
}

#header a:hover{
        color:black;
}

ul{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

#header li{
	display:inline;
	padding-left:20px;
	padding-right:20px;
}

/*--------------------------------------------------title box---------------------------------------------------*/
.title{
	line-height:28px;
}

.titlebox{
	padding-left:40px;
	padding-top:40px;
	padding-bottom:40px;
	padding-right:15px;
	width:350px;
	background-color:#EFEFEF;
	float:left;
}

.titleList li{
	padding-top:7px;
	padding-bottom:7px;
	cursor: pointer;
}

.words{
	padding:7px;
	margin-bottom:4px;
	margin-right:4px;
	background-color:#FAFAFA;
	/*min-width:50px;*/
	/*float: left;*/
        /*clear: left;*/
        /*display: inline-block;*/
        cursor: pointer;
}

.words .j{
        font-size: 18px;
}

.words .e{
        font-size: 18px;
}

.wordList{
	padding-top:7px;
}

.words h1{
	font-weight:normal;
}

#prettyTitleBox{
	position:fixed;
	left:0px;
	top:42px;
	width:405px;
	height:1000px;
	background-color:#EFEFEF;
	z-index:-1;
}

/*-------------------------------------------content modules styling--------------------------------------------*/
.contentBox{
	width:700px;
}

.contentOptions{
	clear:both;
	padding-bottom:30px;
	float:left;
	width:50px;
}

.content{
	padding-bottom:30px;
	float:left;
	width:650px;
}

/*------------------------------------------------poem styling--------------------------------------------------*/

.poem {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:22px;
	line-height:36px;
	margin-top:30px;
	margin-bottom:30px;
}

.poemPadder{
	margin-left:50px;
	width:650px;
	height:30px;
	float:left;
	border-top:1px #CCC solid;
}

.poem .line {
        cursor:pointer;
}

#enjpContent{
	position:absolute;
	left:300px;
	top:85px;
	width:700px;
}

.contentOptions h1, .contentOptions h1 *{
	color:#BBBBBC;
	font-weight:normal;
}

#singlePoem{
	background-color:#FFF;
	border:medium #CCC solid;
	/*padding-top:50px;*/
        padding-top:5px;
        /*padding-bottom: 40px;*/
	position:absolute;
	top:50%;
	margin-top:-200px;
	height:350px;
	width:700px;
	left:50%;
	margin-left:-350px;
	overflow:visible;
}

/*----------------------------------------------composer styling------------------------------------------------*/
#composeModal{
	position:fixed;
	left:400px;
	top:85px;
	height:400px;
	width:700px;
}

.composeButton p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	color:#000101;
}

#composerDragDrop{
	width:auto;
	height:225px;
	background:#EFEFEF;
}

#saveButton{
	float:left;
	font-family:"Courier New", Courier, monospace;
	color:#979DAA;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	letter-spacing:2px;
	background:#BBBBBB;
	padding-left:15px;
	padding-right:15px;
	margin-right:15px;
	cursor: pointer;
}

#saveButton:hover{
        color:black;
}

#saveButton.disabled{
	background:white;
        color:white;
	cursor: not-allowed;
}

#saveButton.disabled:hover{
        color:white;
}

#clearButton{
	float:left;
	font-family:"Courier New", Courier, monospace;
	color:#979DAA;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	letter-spacing:2px;
	background:#BBBBBB;
	padding-left:15px;
	padding-right:15px;
	margin-right:15px;
	cursor: pointer;
}

#clearButton:hover {
        color:black;
}

/*Colin's hacks*/
.composerLineContent{
	width: 100%;
}

.composerLineNumber{
	line-height: 40px;
	/*color: #BBB;*/
}

.hidden{
	display: none;
}

#composeAuthor{
	color: #BBB;
}

#poemTitle.titled{
	color: black;
}

#poemTitle.untitled{
	color: #BBB;
        cursor: pointer;
}

#authorName.anonymous, #authorEditHint {
	cursor: pointer;
}

#authorName.nonymous {
	color: black;
}

.composerTable{
	padding-left: 15px;
	padding-top: 10px;
	color: #BBB;
}

/*----------------------------------------------Landing styling------------------------------------------------*/

#titleBox {
        color:#000000;
        text-align:center;
        font-size:52pt;
}

#titleBox .en{
        display:block;
        margin-bottom:8px;
        font-weight:bolder;
        letter-spacing:28px;
}

#titleBox .jp{
        display:block;
        letter-spacing:44px;
        font-weight:bolder;
}

#landingBox{
	overflow:visible;
}

#landingBox h1{
	font-style:italic;
	margin-top:30px;
	line-height:30px;
	font-weight:normal;
	text-align:center;
}

#landingBox h3{
	margin-top:7px;
	text-align:center;
}

#landingBox p{
	width:580px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:center;
}

.logo {
        width:100px;
        height:60px;
        float:left;
        color:black;
        font-size: 14px;
        font-family: "メイリオ", Meiryo,
                        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                        Osaka, Verdana, Helcetica, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#landingButtonBox{
	width:530px;
	height:50px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

#landingComposeButton{
	background-color:#DDD;
	padding:10px;
	height:30px;
	float:left;
	width:160px;
}

#landingButtonBox .jp{
	float:right;
}

#landingButtonBox a{
        text-decoration:none;
        color:#979DAA;
}

#landingButtonBox span{
	font-family:Verdana, Geneva, Helvetica, Arial, sans-serif;
	font-size:22px;
	font-weight:bold;
	line-height:30px;
}

#landingButtonBox span:hover{
        color:black;
        cursor:pointer;
}

#landingReadButton{
	background-color:#DDD;
	padding:10px;
	height:30px;
        margin-right: 42px;
	float:right;
	width:160px;
}

#ComposeButton{
	position:fixed;
	left:40px;
	top:85px;
	background-color:#EFEFEF;
	padding:10px;
	height:30px;
	float:left;
	width:160px;
	cursor: pointer;
}

#ComposeButton img{
	float:left;
}

.poem-link{
	text-decoration: none;
}

.poem-link:hover{
        color: #000000;
}

.pageMoveButton{
	background-color:#EFEFEF;
	padding:10px;
	height:30px;
	width:160px;
	cursor: pointer;
}

.pageMoveButton img{
	float:left;
}

/* Only show English or Japanese versions, not both */
.en .jp,
.jp .en {
        display:none;
}

/* Unless we're being EXCEPTIONAL! */
.force {
        display:block !important;
}

/* List header (search box and language toggle) */
#listHeader {
        margin-bottom:5px;
}

#listHeader #filterBox {
        float:left;
        height:40px;
        width:220px;
        font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:black;
	font-size:22px;
}

#listHeader .toggleButton {
        margin-right:5px;
        margin-left:auto;
}

/* Fonts for Japanese lines and toggleButton: */
.jp, .toggleButton {
        font-family:    "メイリオ", Meiryo,
                        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                        Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* Style the language toggle action button */
.toggleButton {
        width: 5em;
        padding: .5em;
        text-align:center;
        background-color:#CCCCCC;
        cursor:pointer;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
}

#composeModal .toggleButton, #wordTitleBox .toggleButton {
        float:right;
}

.toggleButton > span {
        padding: .2em;
}

/* Grey the inactive language,  */
.en .toggleButton > span:last-child {
        color:#979DAA;
}

.jp .toggleButton > span:first-child {
        color:#979DAA;
}

/*Swap on hover to indicate click behavior */
.en .toggleButton:hover > span:first-child {
        color:#979DAA;
}

.en .toggleButton:hover > span:last-child {
        color: #000000;
}

.jp .toggleButton:hover > span:first-child {
        color: #000000;
}

.jp .toggleButton:hover > span:last-child {
        color:#979DAA;
}

.upvote {
				margin-left:15px;
}

.upvote:hover {
				color:#000000;
				/*font-weight:bold;*/
				cursor:pointer;
}

#header.read .read {color: #000000}
#header.make .make {color: #000000}
#header.best .best {color: #000000}
#header.random .random {color: #000000}

.singleNav .navNext, .singleNav .navPrev {
        float:right;
        margin-right:5%;
}

.singleNav a {
				font-family: "Courier New", courier, "メイリオ", Meiryo,
                     "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                     Osaka, "ＭＳ Ｐゴシック", "MS PGothic", monospace, sans-serif;
        text-decoration:none;
        color:#979DAA;
}

.singleNav a:hover {
        color:#000000;
}

/* ------------------------ MOBILE OVERRIDES ------------------------ */
@media only screen and (max-device-width: 1023px) {
	#composeModal {
		width:450px;
	}

	.contentBox {
		width:450px;
	}

	.content {
		width:400px;
	}

	#enjpContent {
		left: 100px;
		width:530px;
	}

	.poemPadder {
		width:430px;
	}
}